cryptography
Flask
googletrans==3.1.0a0
beautifulsoup4
ipaddress
Jinja2
Pillow
requests
numpy
bs4
captcha
bcrypt
pycryptodome
werkzeug>=3.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
