cryptography

# Web packages
Flask
Jinja2
werkzeug>=3.0.1  # not directly required, pinned by Snyk to avoid a vulnerability
aiohttp>=3.9.4  # not directly required, pinned by Snyk to avoid a vulnerability

# Translation package
googletrans==3.1.0a0

# Web Scraping packages
beautifulsoup4
bs4
crawler-user-agents

# Image Processing package
opencv-python
numpy

# DNS package
dnspython>=2.6.1  # not directly required, pinned by Snyk to avoid a vulnerability

# Geolocation package
geoip2

# Captcha package
captcha