{% if is_default_choice and without_cookies and not kwargs_without_cookies %}
<div id="cookie-banner" class="cookie-banner">
    <h2 ntr="1">🍪 Cookies?</h2>
    <div id="text">
        <p>We use cookies for the following:</p>
        <p>✅ To store that you are human.</p>
        <p>✅ To ensure the security of the website.</p>
        <p>❌ To allow cats to play with your data.</p>
        <br>
    </div>
    <div class="button-container">
        <a id="accept-cookies" href="{{ current_url_without_wc }}{% if '?' in current_url_without_wc %}&{% else %}?{% endif %}wc=0{% if template == 'nojs' %}&js=0{% endif %}" class="cookie-button">Accept</a>
        <a id="decline-cookies" href="{{ current_url_without_wc }}{% if '?' in current_url_without_wc %}&{% else %}?{% endif %}wc=1{% if template == 'nojs' and not as_route %}&js=0{% endif %}" class="cookie-button">Reject</a>
    </div>
</div>
{% endif %}