{% if not without_customisation or not without_watermark %}
<footer>
    <nav>
        <ul>
            {% if not without_customisation %}
            {% if not template == 'change_language' %}<li><a href="{% if route_id|default %}/change_language{{ route_id }}{% if as_route and is_return_path_set %}?return_path={{ return_path }}&{% else %}?{% endif %}rr={% if template == 'rate_limited' %}rate_limited{% else %}{{ template.split('_')[0] }}{% endif %}{% else %}{{ current_url }}{% if '?' in current_url %}&{% else %}?{% endif %}cl=1{% endif %}">🌐Change Language</a></li>{% endif %}
            <li id="choose-light"><a href="{{ current_url }}{% if '?' in current_url %}&{% else %}?{% endif %}theme=light{% if template == 'change_language' and not as_route %}&cl=1{% endif %}{% if as_route and is_return_path_set %}&return_path={{ return_path }}{% endif %}">Light Mode</a></li>
            <li id="choose-dark"><a href="{{ current_url }}{% if '?' in current_url %}&{% else %}?{% endif %}theme=dark{% if template == 'change_language' and not as_route %}&cl=1{% endif %}{% if as_route and is_return_path_set %}&return_path={{ return_path }}{% endif %}">Dark Mode</a></li>
            {% endif %}
            {% if not without_watermark %}
            <li><span>Bot protection by <a href="https://github.com/tn3w/flask_Captchaify" target="_blank" ntr="1">Captchaify</a></span></li>
            {% endif %}
        </ul>
    </nav>
</footer>
{% endif %}